/* slide enter */
.slide-appear {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
}
.slide-appear.slide-appear-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 300ms linear, transform 300ms ease-in-out;
}

/* slide exit */
.slide-exit {
  opacity: 1;
  transform: scale(1) translateY(0);
}
.slide-exit.slide-exit-active {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  transition: opacity 300ms linear, transform 300ms ease-out;
}
.slide-exit-done {
  opacity: 0;
}

.bottom-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.flex-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

div.container {
  padding-left: 5px;
  padding-right: 5px;
}
